<h2><%= current_user.fullname %> - Donor Relations</h2>
<table>
  <thead>
    <tr>
      <th><a href="/user">Cancel</a></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Alt First Names</th>
      <th>Donor Type</th>
      <th>Connected to Other Staff</th>
    </tr>
  </thead>
  <tbody>
    <form action="/edit/<%= @donor.id %>" method="post">
      <tr>
        <td><button type="submit">Save</button></td>
        <td>
          <input name="first_name" value="<%= @donor.first_name %>" autofocus>
          <td>
            <input name="last_name" value="<%= @donor.last_name %>">
          </td>
        </td>
        <td>
          <input name="alt_names" value="<%= @donor.alt_names_string %>" placeholder="Separate each name by commas"
        </td>
        <td>
          <select name="relation" required>
            <option value="" selected disabled>Select...</option>
            <option value="Current Supporter">Current Supporter</option>
            <option value="Prospect">Prospect</option>
            <option value="From Departing Staff">From Departing Staff</option>
            <option value="DO NOT CONTACT">DO NOT CONTACT</option>
          </select>
        </td>
        <td></td>
      </tr>
    </form>
    <% @donors.each do |donor| %>
    <% next if donor.first_name == @donor.first_name && donor.last_name == @donor.last_name %>
    <tr>
      <td></td>
      <td><%= donor.first_name %></td>
      <td><%= donor.last_name %></td>
      <td><%= donor.alt_names_string %></td>
      <td><%= donor.relation %></td>
      <td class='notice'><%= other_connected_users(current_user.id, donor.id).join(', ') %></td>
    </tr>
  <% end %>
  </tbody>
</table>